.snowy {
  width: 150px;
  height: 53px;
  position: absolute;
  margin-top: 100px;
}

.cloud {
  width: 100px;
  height: 36px;
  position: absolute;
  left: 200px;
  bottom: 5px;
  border-radius: 100%;
  animation: floating 3s infinite;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
  background-color: #f3f3f3;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
.cloud:before, .cloud:after {
  content: "";
  width: 50px;
  height: 50px;
  background-color: #f3f3f3;
  display: block;
  border-radius: 100%;
  position: absolute;
}
.cloud:before {
  left: 16px;
  top: -28px;
}
.cloud:after {
  left: 35px;
  top: -20px;
}

.cloud .snow {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  animation: snowdrop 1s infinite linear;
  left: 45px;
  bottom: 15px;
  transition-duration: 0.5s;
  position: absolute;
  background-color: #f3f3f3;
}
.cloud .snow2 {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  animation: snowdrop 1s infinite linear;
  left: 45px;
  bottom: 15px;
  transition-duration: 0.5s;
  position: absolute;
  background-color: #f3f3f3;
  animation-delay: -0.4s;
  left: 70px;
  bottom: 20px;
}
.cloud .snow3 {
  border-radius: 100%;
  width: 10px;
  height: 10px;
  animation: snowdrop 1s infinite linear;
  left: 45px;
  bottom: 15px;
  transition-duration: 0.5s;
  position: absolute;
  background-color: #f3f3f3;
  animation-delay: -0.7s;
  left: 30px;
  bottom: 20px;
}
@keyframes snowdrop {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  70% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(60px);
    opacity: 0;
  }
}
