.snowy {
  width: 75px;
  height: 27px;
}

.cloud {
  fill: #FFF;
}

.cloudy {
  fill: #FFF;
  stroke-width: 15px;
  stroke-dasharray: 5px;
  animation: floating 1s infinite;
  transition-duration: 0.5s;
  z-index: 1;
}

.snow {
  fill: #FFF;
  stroke: #FFF;
  stroke-width: 4px;
  stroke-linecap: round;
  animation: snow 1s infinite linear;
  transition-duration: 0.5s;
  z-index: 2;
}

@keyframes snow {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(60px);
    opacity: 0;
  }
}

.title {
  font-size: 20px;
  line-height: 7px;
  font-weight: 400;
}