
@charset "UTF-8";
* {
  position: relative;
  font-family: "Hind Vadodara", sans-serif, "微軟正黑體";
}

.time {
  font-size: 20px;
  line-height: 10px;
  padding: 10px;
  font-weight: 500;
}

.info{
  font-size: 25px;
  line-height: 40px;
  font-weight: 500;
}

.max {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.min {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
}

.m-model {
  display: none;
}