.sunny {
  width: 150px;
  height: 54px;
  position: absolute;
  margin-top: 50px;
  margin-left: 200px;
}
.sun {
  fill: #FFD633;
  stroke: rgba(255, 214, 51, 0.5);
  stroke-width: 15px;
  stroke-dasharray: 5px;
  animation: floating 1s infinite;
  transition-duration: 0.5s;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 768px) {
  .sunny {
    margin-top: 30px;
    margin-left: 100px;
  }
}