.cloudy {
  width: 75px;
  height: 27px;
}

.sun {
  fill: #FFD633;
  stroke: rgba(255, 214, 51, 0.5);
  stroke-width: 15px;
  stroke-dasharray: 5px;
}

.cloud {
  width: 100px;
  height: 36px;
  position: absolute;
  left: 200px;
  bottom: 50px;
  border-radius: 100%;
  animation: floating 1s infinite;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  stroke: #f3f3f3;
  fill: #f3f3f3;
  transition-duration: 0.5s;
}
.cloud:before, .cloud:after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
}
.cloud:before {
  left: 16px;
  top: -28px;
}
.cloud:after {
  left: 35px;
  top: -20px;
}
@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.cloud {
  transition-duration: 0.5s;
}

.title {
  font-size: 20px;
  line-height: 7px;
  font-weight: 400;
}